.cohorts {
  z-index: 1;
    width: 40%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
  }
  
  .cohorts h3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    color: whitesmoke;
    text-align: center;
    width: 100%;
  }

  .cohort-button {
    color: whitesmoke;
    background-color: black;
    margin: 5px;
    padding: 5px;
    height: 50px;
    width: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border-radius: 5px;
  }
  
  .all-button {
    height: 1.5em;
    width: 50%;
    color: whitesmoke;
    background-color: blue;
    border-radius: 5px;
    font-size: 26pt;
  }

  .spring-cohort  {
    background-color: #28e60b;
    color: #555;
  }

  .summer-cohort {
    background-color: yellow;
    color: #555;
  }

.autumn-cohort {
  background-color: #e0840b;
  color: #555;
}

.winter-cohort {
  background-color: #27bce9;
  color: #555;
}