.student {
    border: 2px solid black;
    margin: 20px;
    background: url("public/pursuit_arrowbg_purple.jpg");
    width: 750px;
    padding: 20px; 
    transition: transform .3s ease, z-index 0s ease .3s, box-shadow .3s ease;
    position: relative;
    z-index: 1;
}

.show-more {
    width: 15%;
}

.student-image {
    width: 150px;
} 

.student:hover  {
    transform: scale(1.2);
    z-index: 2;
} 

.card-body {
    color: whitesmoke;
}

#show-more {
    display: block;
    margin: 0 auto;
  }
  

  