.student-list {
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.student-title {
justify-content: center;
}

.student-list ul {
    list-style: none;
    padding: 0;
}

.student-list li {
    border: 2px solid black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    padding: 10px;
    margin: 10px;
}
h2 {
    margin: 40px;
    font-size: 28pt;
    color: blue;
}

h3 {
    color: blue;
    font-size: 33pt;
}

