h1 { 
    align-items: center;
}

.header {
    margin: 20px;
    padding: 20px;
}

.girdView-button {

    z-index: 3;
    width: 5px;
}

.student-count {
    display: flex;
    flex-direction: center;
    align-items: center;
    margin: 300px;
    z-index: 3;
    color: black;
  } 