  .parent {
    display: grid;
    justify-content: center;
  }
  
  .content-container {
    background-color: rgb(235, 227, 227);
    display: flex;
       flex-direction: row; 
    justify-content: space-between;
    z-index: -3;
  }
  
  .student-count {
    display: flex;
    justify-content: center; 
     align-items: center;
    text-decoration: underline;
    font-size: 20pt;
    color: black;
    z-index: 3;
  }
  
  .background-video {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -0;
    object-fit: cover;
  }

  .display-3 {
    color: whitesmoke;
    z-index: 2;
  }

  .header {
    background: blue;
    text-align: center;
    width: 191.55vh;
    z-index: 1;
  }


  .gridView-button {
    z-index: 3;
    width: 5px;
  }